:root {
	--font: "Inter", sans-serif;
	--body-color: #637381;
	--heading-color: #212b36;
	--primary-color: #377dff;
	--secondary-color: #cddffb;
	--white: #ffffff;
}

.hero-image {
	margin: auto;
	/* background-color: rgb(255, 255, 255); */
	max-width: 700px;
	height: 200px;
	padding: 10px;
	box-sizing: content-box;
	position: relative;
}

.apa {
	background-color: #cddffb;
	border-radius: 50%;
	width: 200px;
	margin: auto;
}

.apa1n {
	background-color: #cddffb;
	opacity: 30%;
	border-radius: 50%;
	width: 140px;
	height: 140px;
	margin: auto auto 5px;
	position: absolute;
	left: 70px;
	bottom: 0px;
}

.apa1 {
	background-color: #cddffb;
	opacity: 70%;
	border-radius: 50%;
	width: 170px;
	height: 170px;
	margin: auto auto 5px;
	position: absolute;
	left: 150px;
	bottom: 0px;
}

.apa2 {
	background-color: #cddffb;
	opacity: 70%;
	border-radius: 50%;
	width: 170px;
	height: 170px;
	margin: auto auto 5px;
	position: absolute;
	right: 150px;
	bottom: 0px;
}

.apa2n {
	background-color: #cddffb;
	opacity: 30%;
	border-radius: 50%;
	width: 140px;
	height: 140px;
	margin: auto auto 5px;
	position: absolute;
	right: 70px;
	bottom: 0px;
}

.apa img {
	width: 200px;
	position: relative;
	z-index: 2;
}

/* drag and drop image ========================== */

.image-upload {
	position: relative;
	max-width: 360px;
	margin: 0 auto;
	overflow: hidden;
}

.image-upload input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

.upload-field {
	display: block;
	background: #f4fafe;
	padding: 12px;
	border-radius: 11px;
}

.upload-field .file-thumbnail {
	cursor: pointer;
	border: 1px dashed #bbd9ec;
	border-radius: 11px;
	text-align: center;
	padding: 20px;
}

.upload-field .file-thumbnail img {
	width: 50%;
}

.upload-field .file-thumbnail h3 {
	font-size: 12px;
	color: #000000;
	font-weight: 600;
	margin-bottom: 4px;
}

.upload-field .file-thumbnail p {
	font-size: 12px;
	color: #9abcd1;
	margin-bottom: 0;
}
